.top-navigation {
	text-align: center;
	background-color: #eee;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: "Yeseva One", sans-serif;
}

.nav-title {
	color: #2aadbf;
	text-shadow: 1px 2px #e0e0e0; 
}

.intro, .items, .add-item {
	text-align: center;
	font-family: "Playfair Display", sans-serif;
}

input, button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 12px;
}

input {
	padding: .5em;
	border: 2px solid #079db2;
}

button {
	background-color: #2aadbf;
	color: white;
	border: none;
	padding: .5em;
}

.add-button {
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
}

.add-item:hover {
	cursor: pointer;
}

.grocery-list {
	font-family: "Playfair Display", sans-serif;
}

.grocery-list h3{
	text-align: center;
	font-style: italic;
}

.grocery-list .item {
	list-style: none;
}

.grocery-list li {
	padding: .5em;
	border: 2px solid #079db2;
	border-radius: 12px;
	margin: 1em 2em;
	text-align: center;
}

.check::before {
	content: "\2713";
	float: left;
	cursor: pointer;
}

.cross::after {
	content: "\2718";
	float: right;
	cursor: pointer;
}

.grocery-list #bought li {
	background-color: #2aadbf;
	color: white;
}

.grocery-list #removed li {
	text-decoration: line-through;
	color: gray;
}