.top-navigation {
	text-align: center;
	background-color: #2aadbf;
	padding-top: 2em;
	padding-bottom: 2em;
	font-family: "Vast Shadow", sans-serif;
}

.nav-title {
	color:#ffd988;
}

.intro, .items, .add-item {
	text-align: center;
	font-family: "Playfair Display", sans-serif;
}

.intro {
	font-style: italic;
}

textarea, button {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

button {
	background-color: #ff4334;
	color: white;
	border: none;
	padding: .5em;
	border-radius: 12px;
}

.add-button {
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
}

.add-item:hover {
	cursor: pointer;
}